#productsContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 22px;
    overflow: hidden;
    position: relative;
    width: calc(100vw - 300px);
    margin-left: -150px; 
    padding-right: 20px;
    margin-top: 40px; 
}

.product {
    flex: 0 1 calc(16.66% - 22px); 
    box-sizing: border-box; 
}

#filtersContainer{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; 
    margin-left: 560px;
    gap: 22px;
}