#container{
    text-align: left;
}

#text{
    font-size: 3em;
    font-variant: normal;
    font-stretch: expanded;
    font-style: oblique;
    letter-spacing: 2px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}