
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#productsContainer{
  width: 100%;
}

#container{
  padding: 22px;
  color: white; 
  width: 110vw;  
  position: fixed;
  margin-top: -22px;
  margin-left: -30px;
  top: 0;
  left: 0; 
  z-index: 1; 
}